<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/bootstrap.css" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<script src="js/vue.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.26.1/axios.min.js"></script>
		<script src="js/abc.js"></script>
		<link rel="stylesheet" href="css/tanchuang.css">

		<link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css">
	</head>

	<body>
		<script src="js/mui.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<div class="row" style="margin-left: 1%;margin-top: 5%;">



			<div id="content">
				<div class="form_1" style="height: 500px">
					<form>
						<div class="input_1">
							<div class="login_logo">工单信息输入</div>
							<div class="close">X</div>
						</div>
						<hr>
						<div class="input_1">
							<label v-bind:class="{'red' : isred }">客户号码</label>
							<input type="text" name="user" v-model="phone">
						</div>

						<label style="margin-top: 40px;">工单业务员</label>
						<div style="border-width: 1px;border-style: solid;border-color: lightgray;">
							<select v-model="userId">
								<option v-for="i in userlist" v-bind:value="i.id">{{i.name}}</option>
							</select>
						</div>
						<div class="input_1">
							<label style="margin-top: 20px;">备注</label>
							<textarea rows="5" id="description" v-model="description"></textarea>
						</div>

						<div class="input_1">

							<div class="mui-btn mui-btn-primary" style="margin-top: 130px;width: 30%; "
								onclick="addMaintain();">
								添加工单
							</div>
						</div>



					</form>
				</div>
				<div style="background-color: #c0f2ff;">
					<div class="pull-left"
						style="height: 4%; width: 70%;background-color: #c0f2ff;border-width: 1px;border-style: solid;border-color: #ccc;">

						<div style="margin-top: 2%; margin-bottom: 1%;">
							<div class="mui-btn mui-btn-primary" style="margin-left: 5%;width: 10%; "
								onclick="allBroadband();">
								生成客户工单
							</div>
							<div id="btn_1" class="mui-btn mui-btn-primary" style="margin-left: 5%;width: 10%; "
								onclick="">
								添加工单
							</div>
							<div class="mui-btn mui-btn-primary" style="margin-left: 5%;width: 10%; "
								onclick="isall();" v-if="!isall">
								批量设置信息
							</div>
							
							<div class="mui-btn mui-btn-primary" style="margin-left: 5%;width: 10%; "
								onclick="isall();" v-if="isall">
								取消设置
							</div>
							
							<select v-model="select" onchange="getmaintainlist()"
								style="border-width: 1px;border-style: solid;border-color: orange;margin-left: 5%;width: 10%;">
								<option value="0">全部工单</option>
								<option value="1">未完成工单</option>
								<option value="2">已完成工单</option>

							</select>
							<label style="margin-left: 5%;">时间:</label>
							<input type="date" v-model="wx.date2" style=" width: 12%; " onchange="getmaintainlist()"/>
							<label>到</label>
							<input type="date" v-model="wx.date1" style="width: 12%; " onchange="getmaintainlist()"/> 
						</div>


					</div>
					<div class="pull-right"
						style="margin-right: 1%; width: 29%;background-color: #c0f2ff;border-width: 1px;border-style: solid;border-color: #ccc;">

						<div style="margin-top: 6%;margin-bottom: 2% ;height: 4%;">
							<input type="search" class="mui-input-clear" placeholder="请输入搜索内容"
								style="background-color: white;width: 70%;" v-model="content">
							<div class="mui-btn mui-btn-primary" style="margin-right: 5%" onclick="getmaintainlist();">
								搜索
							</div>
						</div>
					</div>
					<div style="width: 99%;">
						<div>
							<table>
								<thead>
									<tr>
										<th>客户姓名</th>
										<th>号码</th>
										<th>发展号码</th>
										<th>套餐</th>
										<th>地址</th>
										<th>工单业务员</th>
										<th>工单日期</th>
										<th>备注</th>
										<th>用户状态</th>
										<th>话费余额</th>
										<th>本月账单</th>
										<th>上月已用流量</th>
										<th>上月流量余额</th>
										<th>上月通话已用</th>
										<th>上月通话余额</th>
										<th>历史欠费</th>

										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-if="isall">
										<th style="width: 5%;">全部客户</th>
										<th style="width: 5%;">全部客户</th>
										<th style="width: 5%;">全部客户</th>
										<th style="width: 5%;">全部客户</th>
										<th style="width: 8%;">全部客户</th>
										<th style="width: 5%;">
											<select v-model="maintain.userId" v-on:change="setall(1)">
												<option v-for="i in userlist" v-bind:value="i.id">{{i.name}}</option>
											</select>
										</th>
										<th style="width: 5%;">
											<input type="date" v-model="maintain.date" v-on:change="setall(2)" />
										</th>
										<th style="width: 8%;">
											<textarea rows="2" v-model="maintain.description" v-on:change="setall(3)" ></textarea>
										</th>
										<th style="width: 5%;">
											<select v-model="maintain.state" v-on:change="setall(4)"
												style="border-width: 1px;border-style: solid;border-color: orange;">
												<option value="正常在用">正常在用</option>
												<option value="欠费停机">欠费停机</option>
												<option value="销户">销户</option>
												<option value="局方停机">局方停机</option>
												<option value="高额停机">高额停机</option>
											</select>

										</th>
										<th style="width: 5%;">
											<input type="text" v-model="maintain.balance" style="width: 65%;" v-on:change="setall(5)">元
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="maintain.bill" style="width: 65%;" v-on:change="setall(6)">元
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="maintain.traffic" style="width: 65%;" v-on:change="setall(7)">MB
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="maintain.trafficBalance" style="width: 65%;" v-on:change="setall(8)">MB
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="maintain.time" style="width: 65%;" v-on:change="setall(9)">分钟
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="maintain.timeBalance" style="width: 65%;" v-on:change="setall(10)">分钟
										</th>
										<th style="width: 5%;">
											
											<input type="text" v-model="maintain.overdue" style="width: 65%;" v-on:change="setall(11)">元
										</th>
										<th style="width: 8%;">
											<div class="mui-btn mui-btn-primary" onclick="updateall()">
												保存
											</div>
											<div class="mui-btn mui-btn-danger"
												onclick="deleteall();">
												删除
											</div>
										</th>
									</tr>
									<tr v-for="(i,index) in wx.wxqs">
										<th style="width: 5%;">{{i.broadbandCustomer.name}}</th>
										<th style="width: 5%;">{{i.broadbandCustomer.phone}}</th>
										<th style="width: 5%;">{{i.broadbandCustomer.alternatePhone}}</th>
										<th style="width: 5%;">{{getPackageName(i.broadbandCustomer.packageId)}}</th>
										<th style="width: 8%;">{{i.broadbandCustomer.address}}</th>
										<th style="width: 5%;">
											<select v-model="i.maintain.userId">
												<option v-for="i in userlist" v-bind:value="i.id">{{i.name}}</option>
											</select>
										</th>
										<th style="width: 5%;">
											<input type="date" v-model="i.maintain.date" />
										</th>
										<th style="width: 8%;">
											<textarea rows="2" v-model="i.maintain.description"></textarea>
										</th>
										<th style="width: 5%;">
											<select v-model="i.maintain.state"
												style="border-width: 1px;border-style: solid;border-color: orange;">
												<option value="正常在用">正常在用</option>
												<option value="欠费停机">欠费停机</option>
												<option value="销户">销户</option>
												<option value="局方停机">局方停机</option>
												<option value="高额停机">高额停机</option>
											</select>

										</th>
										<th style="width: 5%;">
											<input type="text" v-model="i.maintain.balance" style="width: 65%;">元
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="i.maintain.bill" style="width: 65%;">元
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="i.maintain.traffic" style="width: 65%;">MB
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="i.maintain.trafficBalance"
												style="width: 65%;">MB
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="i.maintain.time" style="width: 65%;">分钟
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="i.maintain.timeBalance" style="width: 65%;">分钟
										</th>
										<th style="width: 5%;">
											<input type="text" v-model="i.maintain.overdue" style="width: 65%;">元
										</th>
										<th style="width: 8%;">
											<div class="mui-btn mui-btn-primary" v-on:click="updatemaintain(index)">
												保存
											</div>
											<div class="mui-btn mui-btn-danger"
												v-on:click="deletemaintain(i.maintain.id)">
												删除
											</div>
										</th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el: '#content',
			data: {
				userlist: [],
				packlist: [],
				permission: 4,
				phone: "",
				description: "",
				select: 0,
				content: "",
				userId: 1,
				isall: false,
				isupdateuser: false,
				selecteduserid: 1,
				page: 0,
				isred: false,
				ised: false,
				
				
				maintain: {
					userId: 0,
					date: "",
					description: "",
					state: "",
					balance: 0,
					bill: 0,
					traffic: 0,
					trafficBalance: 0,
					time: 0,
					timeBalance: 0,
					overdue: 0,
				},
				dx: {
					amount: 0
				},
				wx: {
					wxm: false,
					wxqm: false,
					amount: 0,
					date1: "",
					date2: "",
					wxs: [],
					wxqs: [],
					select: 0,
					content: "",

				},
				kdh: {
					kdhm: false,
					amount: 0,
					date1: "2022-07-23",
					date2: "2022-07-25",
					kdhs: []
				},
				bt: {
					amount: 0
				},
				fc: {
					fcm: false,
					amount: 0,
					date1: "2022-07-23",
					date2: "2022-07-25",
					fcs: [],
				},

				date1: "2022-07-23",
				date2: "2022-07-25",
			},
			methods: {
				delImg: function(i) {
					vm.imglist.splice(i, 1);
					vm.imgnamelist.splice(i, 1);
				},
				deletemaintain: function(id) {
					var ids = [];
					ids.push(id);
					var idlist = ids.toString();
					var btnArray = ['否', '是'];
					mui.confirm('确认删除该工单？', '删除', btnArray, function(e) {
						if (e.index == 1) {
							axios.delete(path + '/maintain', {
									params: {
										ids: idlist,
									}
								})
								.then(function(response) {
									if (response.data.code == 1) {
										getmaintainlist();
										mui.toast('删除成功');
									}
								})
						} else {

						}
					})
				},
				updatemaintain: function(i) {
					var maintain = vm.wx.wxqs[i].maintain;
					axios.post(path + '/maintain/updatemaintainpc', {
							maintain: maintain,
						})
						.then(function(response) {
							if (response.data.code == 1) {
								mui.toast('保存成功');
								getmaintainlist();
							}
						})

				},
				setnum: function(id) {
					var btnArray = ['取消', '确定'];
					mui.prompt('请输入宽带号：', '', '', btnArray, function(e) {
						if (e.index == 1) {

							axios.get(path + '/broadband/addbroadband', {
									params: {
										id: id,
										number: e.value
									}
								})
								.then(function(response) {
									if (response.data.code == 1) {
										broadbandlist();
									}
								})
						} else {

						}
					})

				},
				getuser: function(id) {
					for (var n = 0; n < vm.userlist.length; n++) {
						if (vm.userlist[n].id == id)
							return vm.userlist[n].name;
					}
					return -1;
				},
				getPackageName: function(i) {
					for (var n = 0; n < vm.packlist.length; n++) {
						if (vm.packlist[n].id == i)
							return vm.packlist[n].name;
					}
					return -1;
				},
				getInf: function(id, maintainid) {
					if (vm.wx.select == 0) {
						mui.openWindow({

							url: "maintain.html",
							id: "maintain.html",
							extras: {
								userid: id,
								maintainid: maintainid,
							}
						});
					} else {
						mui.openWindow({

							url: "maintained.html",
							id: "maintained.html",
							extras: {
								userid: id,
								maintainid: maintainid,
							}
						});
					}

				},
				timegetdate: function(date) {
					var d = date.split(" ")[0];
					return d;
				},
				jsdate: function(date) {
					var d = new Date(date);
					var n = new Date();
					var t = parseInt((d - n) / 1000 / 60 / 60 / 24);
					return t;
				},
				setall: function(n){
					
					for(var i = 0;i<vm.wx.wxqs.length;i++){
						if(n==1) vm.wx.wxqs[i].maintain.userId = vm.maintain.userId;
						if(n==2) vm.wx.wxqs[i].maintain.date = vm.maintain.date;
						if(n==3) vm.wx.wxqs[i].maintain.description = vm.maintain.description;
						if(n==4) vm.wx.wxqs[i].maintain.state = vm.maintain.state;
						if(n==5) vm.wx.wxqs[i].maintain.balance = vm.maintain.balance;
						if(n==6) vm.wx.wxqs[i].maintain.bill = vm.maintain.bill;
						if(n==7) vm.wx.wxqs[i].maintain.traffic = vm.maintain.traffic;
						if(n==8) vm.wx.wxqs[i].maintain.trafficBalance = vm.maintain.trafficBalance;
						if(n==9) vm.wx.wxqs[i].maintain.time = vm.maintain.time;
						if(n==10) vm.wx.wxqs[i].maintain.timeBalance = vm.maintain.timeBalance;
						if(n==11) vm.wx.wxqs[i].maintain.overdue = vm.maintain.overdue;
					}
				}
			}

		})
		vm.permission = localStorage.getItem("user_permission");

		function select(select) {
			vm.wx.select = select;
			getmaintainlist();
		}







		//broadbandlist();
		function a() {
			new Promise(function(resolve, reject) {

				setTimeout(function() {
					//console.log(vm.costomer.packageId);
					resolve();
				}, 50);
			});


		}




		function getnewtime() {

			var date = new Date();
			var day = date.getDate();
			var month = date.getMonth();
			if (date.getMonth() < 10) {
				month = "0" + (date.getMonth() + 1);
			}

			if (date.getDate() < 10) {
				day = "0" + date.getDate();
			}

			var datew = date.getFullYear() + "-" + month + "-" + day;
			var datew = datew.toString();
			vm.date1 = datew;
			vm.date2 = datew;
		}

		function initdate() {
			var date = new Date();
			var day = date.getDate();
			var month = date.getMonth();
			if (date.getMonth() < 10) {
				month = "0" + (date.getMonth() + 1);
			}

			if (date.getDate() < 10) {
				day = "0" + date.getDate();
			}

			var datew = date.getFullYear() + "-" + month + "-" + day;
			var datew = datew.toString();
			vm.wx.date1 = datew;

			date = new Date(date.getTime() - 365 * 24 * 60 * 60 * 1000);
			var day = date.getDate();
			var month = date.getMonth();
			if (date.getMonth() < 10) {
				month = "0" + (date.getMonth() + 1);
			}

			if (date.getDate() < 10) {
				day = "0" + date.getDate();
			}

			var datew = date.getFullYear() + "-" + month + "-" + day;
			var datew = datew.toString();
			vm.wx.date2 = datew;

		}
		// initdate();

		function get7daytime() {
			var date = new Date();
			date = new Date(date.getTime() - 7 * 24 * 60 * 60 * 1000);
			getnewtime();

			var day = date.getDate();
			var month = date.getMonth();
			if (date.getMonth() < 10) {
				month = "0" + (date.getMonth() + 1);
			}

			if (date.getDate() < 10) {
				day = "0" + date.getDate();
			}

			var datew = date.getFullYear() + "-" + month + "-" + day;
			var datew = datew.toString();
			vm.date2 = datew;
		}


		function getmonthtime() {
			var date = new Date();

			getnewtime();
			date.setDate(1);
			var day = date.getDate();
			var month = date.getMonth();
			if (date.getMonth() < 10) {
				month = "0" + (date.getMonth() + 1);
			}

			if (date.getDate() < 10) {
				day = "0" + date.getDate();
			}

			var datew = date.getFullYear() + "-" + month + "-" + day;
			var datew = datew.toString();
			vm.date2 = datew;
		}

		function gettext(i) {

			if (i == 1) {
				mui.alert(vm.text1, '底薪说明', function() {

				});
			}

		}



		function getinf() {
			axios.get(path + '/user/list', {
					params: {
						content: null,
						sort: 0,
					}
				})
				.then(function(response) {
					if (response.data.code == 1) {
						for (var n in response.data.data) {
							vm.userlist.push(response.data.data[n]);
						}
					}
				})

			axios.get(path + '/package/alllist', {
					params: {

					}
				})
				.then(function(response) {
					if (response.data.code == 1) {
						for (var n in response.data.data) {
							vm.packlist.push(response.data.data[n]);
						}
					}
				})

		}

		function allBroadband() {
			var btnArray = ['否', '是'];
			mui.confirm('是否生成所有客户的维系工单？', '生成工单', btnArray, function(e) {
				if (e.index == 1) {
					axios.get(path + '/maintain/allBroadbandmaintain', {
							params: {

							}
						})
						.then(function(response) {
							if (response.data.code == 1) {
								mui.toast('生成成功');
								getmaintainlist()
							}
						})
				} else {

				}
			})

		}

		function addMaintain() {
			if ((vm.phone.length == 11 && !isNaN(Number(vm.phone)))) {

				axios.get(path + '/maintain/addmaintain', {
						params: {
							userId: vm.userId,
							description: vm.description,
							phone: vm.phone,
						}
					})
					.then(function(response) {
						if (response.data.code == 1) {
							vm.isred = false;
							var form_1 = document.getElementsByClassName("form_1");

							form_1[0].className = "form_1";
							getmaintainlist();
						} else {

							alert("未找到该号码的客户");

						}
					})
			} else {
				vm.isred = true;
			}

		}
		
		
		
		function getmaintainlist() {
			
			new Promise(function(resolve, reject) {
				setTimeout(function() {
					axios.get(path + '/maintain/allbroadbandandmaintain', {
							params: {
								select: vm.select,
								content: vm.content,
								date1: vm.wx.date1,
								date2: vm.wx.date2,
							}
						})
						.then(function(response) {
							if (response.data.code == 1) {
								vm.wx.wxqs = [];
								vm.wx.wxqs = response.data.data;
					// 			for (var n in response.data.data) {
					// 				if (typeof(response.data.data[n].broadbandCustomer.name) != "undefined" ||
					// 					response.data.data[n].broadbandCustomer.name != null)
					// 					vm.wx.wxqs.push(response.data.data[n]);
					
					// 			}
					
							}
						})
					
					resolve();
				}, 50);
			});
			

		}


		function isall(){
			vm.isall = !vm.isall
		}
		
		window.onload = function() {
			var btn_1 = document.getElementById("btn_1");
			var close = document.getElementsByClassName("close");
			var form_1 = document.getElementsByClassName("form_1");
			btn_1.addEventListener('click', function() {
				form_1[0].className = "form_1 open";
			})
			close[0].addEventListener('click', function() {
				form_1[0].className = "form_1";
			})

		}
		
		function updateall(){
			// var ids = [];
			// for(var i=0;i<vm.wx.wxqs.length;i++){
			// 	ids.push(vm.wx.wxqs[i].maintain.id);
			// }
			// var idlist = ids.toString();
			// axios.get(path + '/maintain/updatemaintainpcall', {
			// 		params: {
			// 			ids: idlist,
			// 			maintain: vm.maintain,
			// 		}
			// 	})
			// 	.then(function(response) {
			// 		if (response.data.code == 1) {
			// 			mui.toast('保存成功');
			// 			getmaintainlist();
			// 		}
			// 	})
			var broadbandAndMaintainList=vm.wx.wxqs;
			axios.post(path + '/maintain/updatemaintainpcall', 
					
					broadbandAndMaintainList
					
				)
				.then(function(response) {
					if (response.data.code == 1) {
						mui.toast('保存成功');
						getmaintainlist();
					}
				})
		}
		
		function deleteall(){
			var ids = [];
			for(var i=0;i<vm.wx.wxqs.length;i++){
				ids.push(vm.wx.wxqs[i].maintain.id);
			}
			var idlist = ids.toString();
			var btnArray = ['否', '是'];
			mui.confirm('确认删除该页面所有工单？', '删除', btnArray, function(e) {
				if (e.index == 1) {
					axios.delete(path + '/maintain', {
							params: {
								ids: idlist,
							}
						})
						.then(function(response) {
							if (response.data.code == 1) {
								getmaintainlist();
								mui.toast('删除成功');
							}
						})
				} else {
			
				}
			})
		}
		
		axios.post(path + '/user/login', {
				username: "admin",
				password: "123456"
			})
			.then(function(response) {
				if (response.data.code == 1) {
					getinf();
					getmaintainlist();
				}
			})
			.catch(function(error) {
				alert("登录失败");
				console.log(error);
			})
		new Promise(function(resolve, reject) {
			setTimeout(function() {
				resolve();
			}, 500);
		});
	</script>
</html>
